#### This is gitignore for Seishin
/.quarto/
/.claude/
/**/*.mp4
/**/*.sqlite
/**/cache/
/admin/
/_extensions/
/_freeze/
/homeworks/201*/
/homeworks/2020/
/homeworks/2021/
/homeworks/2022/
/homeworks/2024/
/homeworks/2024/2/kohno/
/homeworks/2024/4/
/homeworks/assignment/
/homeworks/2024/TinyTex.zip
/homeworks/2024/2024*.pdf
/lec_slides/201*/
/lec_slides/2020/
/lec_slides/2021/
/lec_slides/2022/
/lec_slides/Ran*/
/lec_slides/**/2/
/lec_slides/**/DataVisualisation/
/lec_slides/**/HK/
/lec_slides/**/ImpactEvaluation/
/lec_slides/**/Maxi*/
/lec_slides/**/RP/
/lec_slides/**/**/*.log
/lec_slides/**/Data*
/lec_slides/**/Impa*
/lec_slides/**/Max*
/lec_slides/**/[123]*.pdf
/lec_slides/**/*HK.pdf
/lec_slides/**/RP/_imag*
/lec_slides/**/*.log
/lec_slides/**/test*
/lec_slides/**/RP/*.log
/lec_slides/**/DataVisualisation/cache/
/lec_slides/**/ImpactEvaluation/cache/
/lec_slides/**/ImpactEvaluation/figure/bad_graphs/
/lec_slides/**/ImpactEvaluation/figure/local/
/lec_slides/**/ImpactEvaluation/figure/lineas*/
/lec_slides/**/ImpactEvaluation/figure/*.zip
/lec_slides/**/ImpactEvaluation/figure/*.eps
/lec_slides/2026/01*
/lec_slides/2026/02.*
/lec_slides/2026/03.*
/lec_slides/*.zip
/lec_slides/*/cache/
/lec_slides/2026/Da*/GBD*.prn


**/*.quarto_ipynb
